<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include("partials/head.ejs")%>
</head>
<body>
    <%- include("partials/navigation.ejs")%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic architecto earum ex, neque illo voluptatibus dolor accusantium ullam repellendus doloremque, veniam officiis, fugiat laudantium molestiae distinctio reiciendis et dicta quisquam. Est, laborum minima obcaecati at ipsam veniam facere deleniti, ex, accusamus odit porro. Aspernatur incidunt quisquam natus distinctio perspiciatis totam esse voluptas minima voluptatem obcaecati veniam qui culpa similique architecto quaerat, suscipit nostrum expedita vero modi dolores tempore, fugit enim consectetur. Ipsam eveniet, qui alias accusamus atque cumque labore esse quis ex voluptatibus illo incidunt. Earum minus rerum nemo accusamus consectetur numquam, cum, placeat nostrum eveniet iusto repudiandae nobis reprehenderit obcaecati veniam animi ipsam recusandae odio perferendis error aliquid? Similique animi natus voluptatibus optio molestias nulla soluta maxime sunt! Nesciunt beatae voluptatum obcaecati saepe sit, consectetur sapiente nemo atque quibusdam quas iusto, corporis repudiandae cupiditate, praesentium at adipisci recusandae voluptas numquam nulla illum aut. Molestias optio magni beatae error quia iure distinctio quidem nihil magnam delectus, eum perferendis id, omnis cum cumque repellendus ipsa reiciendis odit! Rerum vitae quibusdam cumque dolorem minima eum, nesciunt illo nostrum aliquam nobis aperiam molestias? Ratione consequuntur atque rem esse. Perspiciatis sunt porro quis nisi debitis commodi alias deleniti ullam minus officia, a quibusdam dolores ipsam, aliquid nam repellat id cupiditate itaque sapiente atque! Accusamus, delectus eligendi fugit voluptatibus similique praesentium debitis doloremque. Pariatur error nam facilis hic alias incidunt repellendus ab quis in eum saepe sequi est rem sit necessitatibus, reiciendis enim eius soluta, fugiat quo, molestias asperiores consequatur voluptas veritatis. Possimus ullam modi atque doloribus, nulla minima laudantium illum odio molestias. Laboriosam a facere cum eius nemo magni at, placeat fugit illo neque ipsam maxime explicabo consequatur sint et illum dolorum officiis totam beatae officia fuga corporis. Consectetur molestiae porro eius, dolorem tempora esse, perferendis dolor minima explicabo culpa repudiandae, quaerat ut iste.</p>
        </section>
    </main>
    <%- include("partials/footer.ejs")%>
</body>
</html>